* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: white;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      list-style-type: none;
      a {
        color: black;
      }
      img {
        height: 70px;
      }
      button {
        padding: 12px 20px;
        background-color: #73d462;
        border-radius: 5px;
        border: none;
        a {
          color: white;
        }
      }
    }
  }
}

main {
  background-color: #e8ebf1;
  padding-top: 114px;
  .container{
    width: 80%;
    margin: 0 auto;
    #remote {
      display: flex;
      align-items: center;
      color: #1c3d58;
      height: 350px;
      img {
        width: 40%;
      }
    }
    .domande {
      display: flex;
      .titolo {
        background-color: white;
        font-size: 27px;
      }
      .sx,.dx{
        width: 50%;
      }
      .dx{
        color:white;
        background-color:#1c3d58;
      }
    }
  }
  section > * {
    padding: 30px;
  }
}



footer {
  background-color: #1c3d58;
  color: white;
  height: 150px;
  a {
    color: white;
  }
}
