@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: white;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul li {
  list-style-type: none;
}

header ul li a {
  color: black;
}

header ul li img {
  height: 70px;
}

header ul li button {
  padding: 12px 20px;
  background-color: #73d462;
  border-radius: 5px;
  border: none;
}

header ul li button a {
  color: white;
}

main {
  background-color: #e8ebf1;
  padding-top: 114px;
}

main .container {
  width: 80%;
  margin: 0 auto;
}

main .container #remote {
  display: flex;
  align-items: center;
  color: #1c3d58;
  height: 350px;
}

main .container #remote img {
  width: 40%;
}

main .container .domande {
  display: flex;
}

main .container .domande .titolo {
  background-color: white;
  font-size: 27px;
}

main .container .domande .sx,
main .container .domande .dx {
  width: 50%;
}

main .container .domande .dx {
  color: white;
  background-color: #1c3d58;
}

main section > * {
  padding: 30px;
}

footer {
  background-color: #1c3d58;
  color: white;
  height: 150px;
}

footer a {
  color: white;
}

